<template name='item'>

<div class='flex center bb b--light-gray mt3 justify-center'>
  <dl class=" w-auto-l lh-title content-center ml3 mr3 ">
      <dd class="f6 fw4 ml0 tc"><span class='voteOne pointer'>{{itemOne.text}}</span></dd>
      <dd class=" f2 f-subheadline-l fw6 ml0"><span class='voteOne pointer'>{{itemOne.value}}</span></dd>
    </dl>

    <p class='self-center'>vs</p>

    <dl class=" w-auto-l lh-title content-center ml3 mr3  ">
        <dd class=" dif6 fw4 ml0 tc"><span class='voteTwo pointer'>{{itemTwo.text}}</span></dd>
        <dd class="f2 f-subheadline-l fw6 ml0 "><span class='voteTwo pointer'>{{itemTwo.value}}</span></dd>
      </dl>
    </div>

</template>
