/* CSS declarations go here */
* {
    outline: 1px dotted red;
}




/*.mdl-layout--fixed-header{
    display: block;
    margin: 0px;
}*/

/*.demo-card-square .mdl-card {
  width: 90%;
  height: 25%;
  margin: 1em auto;
  display: block;
}*/

/*.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #009688;

}*/

/*.demo-card-square > .mdl-card__supporting-text > .designation {
    color: #009688;
}*/
